// @import '/src/sass/colors';
// @import '/src/sass/small';
// @import '/src/sass/medium';
// @import '/src/sass/large';

// :root {
// 	--size: 60;
// }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
///320x

html {
	font-size: 62.5%;
	// 10px
}

body {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	background-image: linear-gradient(340deg, #9be15d 0%, #00e3ae 100%);

	.main {
		display: block;
	}
}
//header
header {
	position: relative;
	padding-top: 40px;
	padding-bottom: 20px;
}

.question {
	position: relative;
	padding-top: 19px;
	padding-bottom: 20px;
	min-height: 58px;

	.alert-info,
	.active-acc {
		display: none;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
	}

	.alert-info {
		display: block;
	}
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.icon {
		display: inline;
		padding: 0 10px;
	}
}

//section

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 200px;
	padding-top: 30px;
	padding-bottom: 20px;
	overflow: hidden;

	.opacity-Bg {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.01);
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		opacity: 0.4;
		// z-index: -5;
	}

	.account-card {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 150px;
		height: 180px;
		margin-bottom: 20px;
		cursor: pointer;
		overflow: visible;
		transition: 0.8s;
		z-index: 5;

		.circle {
			position: relative;
			width: 125px;
			height: 125px;
			margin: 5px;
			border-radius: 50%;
			border: 2px solid black;
			font-weight: bold;

			.letter {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 50px;
			}
		}

		.square {
			position: relative;
			height: 50px;
			margin: 5px;
			font-weight: bold;

			.name {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
			}
		}
	}

	.alert-info {
		display: block;
		text-align: justify;
		margin: 10px 20px;
		font-size: 15px;
		font-weight: bold;
	}
}

.cardWithOutBg::before,
.cardWithOutBg::after {
	display: block;
	position: absolute;
	content: '';
	transition: all 0.5s;
	z-index: -1;
}

.cardWithOutBg::after,
.cardWithOutBg::before {
	width: 100%;
	height: 100%;
}

.cardWithOutBg::before {
	top: 0;
	left: 0;
}

.cardWithOutBg::after {
	bottom: 0;
	right: 0;
}

.cardWithOutBg:hover {
	border: 1px solid transparent;
}

.cardWithOutBg:hover::after {
	bottom: -10px;
	right: -10px;
	border-bottom: 5px solid #13bb4b;
	border-right: 5px solid #13bb4b;
}
.cardWithOutBg:hover::after {
	top: -10px;
	left: -10px;
	border-top: 5px solid #13bb4b;
	border-left: 5px solid #13bb4b;
}

.cardWithBg:hover {
	border: 1px solid black;
}

//footer

.btns-main-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 2px;

	.btn {
		width: 170px;
		height: 35px;
		margin-bottom: 15px;
		border-radius: 5px;
		border: none;
		cursor: pointer;
	}

	.btn-login,
	.btn-delete,
	.btn-all-delete {
		display: none;
	}

	.fas {
		padding-right: 10px;
	}
}

///add panel

.add-new-account {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	background-image: linear-gradient(340deg, #9be15d 0%, #00e3ae 100%);

	h2 {
		margin-bottom: 30px;
	}

	.form-box {
		margin-bottom: 15px;

		label {
			display: inline-block;
			margin-bottom: 5px;
			font-weight: bold;
		}

		input {
			width: 100%;
			padding: 10px;
			font-size: 16px;
			border: 1px solid rgb(197, 197, 197);
			border-radius: 5px;
		}
		.choose-file {
			border: none;
		}

		.forward-delete-avatar {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.alert-add-account,
		.pass1-text,
		.pass2-text {
			color: red;
		}

		.defaults-avatars {
			position: relative;
			display: flex;
			justify-content: space-between;

			.avatarDefault {
				margin-top: 10px;
				width: 40px;
				height: 40px;
			}

			.avatarDefaultBig {
				position: absolute;
				bottom: 0px;
				width: 260px;
				height: 260px;
				transform-origin: 0 0;
				z-index: 1;
			}

			.one-avatar {
				background-image: url('../img/sunflowersSmall1.jpg');
			}
			.two-avatar {
				background-image: url('../img/crocusSmall2.jpg');
			}
			.three-avatar {
				background-image: url('../img/blossomSmall3.jpg');
			}
			.four-avatar {
				background-image: url('../img/roseSmall4.jpg');
			}
			.five-avatar {
				background-image: url('../img/chamomileSmall5.jpg');
			}
		}
	}

	.btns-add-Window {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.save,
	.cancel,
	.forward-avatar,
	.delete-forward-avatar {
		width: 100px;
		height: 30px;
		margin: 0 10px;
		border-radius: 5px;
		border: none;
		cursor: pointer;

		.fas {
			padding-right: 10px;
		}
	}
	.forward-avatar,
	.delete-forward-avatar {
		display: none;
	}
}

// LOGIN PANEL!

.login-view-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 50;
	.login-view {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 270px;
		font-size: 15px;
		padding: 5px 15px 5px 15px;
		border: 1px solid black;
		border-radius: 5px;
		background-image: linear-gradient(340deg, #9be15d 0%, #00e3ae 100%);
		// z-index: 50;

		label {
			display: inline-block;
			margin-bottom: 5px;
			font-weight: bold;
			padding: 10px 0 10px 0;
		}

		input {
			width: 100%;
			padding: 10px;
			font-size: 16px;
			border: 1px solid rgb(197, 197, 197);
			border-radius: 5px;
		}
		.alert-login-view {
			color: red;
			padding: 10px 0 10px 0;
		}
		.btn-login-view {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 15px 10px 15px;
			.open-login,
			.cancel-login {
				width: 100px;
				height: 30px;
				margin: 0 10px;
				border-radius: 5px;
				border: none;
				cursor: pointer;

				.fas {
					padding-right: 10px;
				}
			}
		}
	}
}
